.burger-menu{
  position: fixed;
  z-index: 9999;
  top: 1em;
  right: 1em;
  height: 2em;
  width: 2em;

  @include modular-mq(desktop){
    display: none;
  }
}

.lines {
  @include burger_menu_line;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  @at-root {
    .open & {
      background-color: transparent;
      @include no-box-shadow;
    }
  }

  &:before {
    @include burger_menu_line;
    position: absolute;
    bottom: 8px;

    @at-root {
      .open & {
        transform: translateY(8px) rotate(45deg);
      }
    }
  }

  &:after {
    @include burger_menu_line;
    position: absolute;
    top: 8px;

    @at-root {
      .open & {
        transform: translateY(-8px) rotate(-45deg);
      }
    }

  }
}
