.burger-menu{
  position: absolute;
  z-index: 9999;
  top: 1em;
  right: 1em;
  height: 2em;
  width: 2em;

  .lines {
    display: block;
    content: "";
    width: 100%;
    border-radius: .25em;
    background-color: #fff;
    height: .15em;
    top: 50%;
  }
}