.featured-images {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;

  @include modular-mq(desktop) {
    width: $desktop-content-width;
    margin: 4em auto;
    justify-content: space-between;
  }
}

.feature-image {
  width: 100%;
  margin-bottom: 2.2em;
  text-align: center;

  @include modular-mq(desktop) {
    width: 22%;
    margin-bottom: 0;
  }

  &__image {
    @include image-shadow;
    @include border-radius(50%);

    @include modular-mq(desktop) {
      width: 100%;
    }
  }
}