
.featured-images{

  &__image{

    @extend .image-border;
    border-width: 2px;
    margin-bottom: 10px;

    @include transition(all 0.5s ease-in-out);

    &:hover{
      @include transform(scale(1.2))
    }

    @include modular-mq(tablet){
      display: inline-block;
      width: 49%;
    }

    @include modular-mq(desktop){
      width: 23%;
    }

    img{
      @include square-dim(100%);
    }
  }
}