
.slider-modal-wrap{

  position: fixed;
  @include square-dim(100%);
  background-color: $modal-background-no-alpha;
  top: 0;
  left: 0;
  z-index: 1000;

  @include modular-mq(tablet){
    background-color: $modal-background;
  }


  .loader{
    @include square-dim(35px);
    position: relative;
    top: 50%;
    display: block;
    margin: -17px auto;

    @include modular-mq(tablet){
      @include square-dim(50px);
      margin: -25px auto;
    }

    @include modular-mq(desktop){
      @include square-dim(100px);
      margin: -50px auto;
    }
  }

  .slider-wrap {

    position: relative;
    top: 50%;

    &__controls {
      position: absolute;
      display: none;

      @include modular-mq(desktop){
        display: block;
        width: 100%;
        top: 44%;
      }

      .control {
        position: absolute;
        font-size: 50px;
        color: #D2DED0;
        margin: 0 35px;

        a {
          @include square-dim(100%);
          display: block;
          position: absolute;
          top: 0;
        }
      }

    }
  }

  #next-slide{
    right: 0;
  }

  .bx-slider {

    img{
      display: block;
      margin: 0 auto;
      width: 95%;

      &.portrait{
        @include modular-mq(mobile, landscape){
          width: 39%;
        }

        @include modular-mq(tablet, landscape){
          width: 50%;
        }

      }

      @include modular-mq(mobile, landscape){
        width: 70%;
      }

      @include modular-mq(tablet){
        width: 80%;
      }

      @include modular-mq(tablet, landscape){
        width: 65%;
      }

      @include modular-mq(desktop){
        width: initial;

        &.portrait{
          width: initial;
        }
      }
    }

    li{
      width: 300px;
    }

  }
}