.services-container{
  display: flex;
  flex-flow: wrap;
  margin-top: 4em;

  @include modular-mq(desktop) {
    width: $front-page-section-content-width;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.service {
  text-align: center;
  width: 100%;
  margin: 0 1.5em 4em 1.5em;

  @include modular-mq(desktop) {
    width: 29%;
  }

  &__image {
    border-radius: 50%;
    box-shadow: 0 0 10px black;
    margin-bottom: 1.8em;
  }

  &__title {
    font-size: 1.5em;
    font-weight: 100;
  }

  &__content {
    text-align: justify;
    color: #0f190e;
    font-size: 1.2em;
    font-family: 'Source Sans Pro', sans-serif;
  }

  &__link {
    display: block;
    @extend .title;
    @include border-radius(5px);
    text-decoration: none;
    color: #e5f7f6;
    padding: 0.4em;
    background-color: #00a699;
    box-shadow: 0 3px grey;
    text-align: center;

    @include modular-mq(desktop) {
      box-shadow: none;
    }

    &:hover {
      text-decoration: none;
      color: #e5f7f6;
      box-shadow: 0 3px grey;
    }

    &--top {
      @include border-top-radius(0px);
    }

    &--bottom {
      @include border-bottom-radius(0px);
      box-shadow: inset 0 3px grey;

      @include modular-mq(desktop) {
        box-shadow: none;
      }

      &:hover {
        box-shadow: inset 0 3px grey;
      }
    }
  }
}