footer {
  background-color: #D2E0D1;
}

.footer-container{
  display: flex;

  @include modular-mq(desktop) {
    width: 1000px;
    margin: 0 auto;
    padding: 2em 0;
  }

  li {
    list-style-type: none;
  }

  .sitemap, .services {
    display: none;

    @include modular-mq(tablet){
      display: block;
    }
  }

  .contact{
    text-align: center;

    @include modular-mq(tablet){
      text-align: left;
      font-size: 17px;

      p {
        margin: 0;
      }

      .mail-phone {
        font-size: initial;
      }
    }
  }

  &__section{
    width: 100%;
    font-size: 1.5em;
    text-align: center;

    @include modular-mq(desktop) {
      text-align: left;
      padding: 0 25px 0 25px;
      border-left: 1px solid;
      width: 33.3%;
      font-size: 1.2em;

      &.last {
        border-right: 1px solid;
      }
    }

    h3{
      margin: 10px 0;
      font-size: 1.5em;
    }
  }
}



