.video-background {

  display: none;
  text-align: center;
}

.header-video {
  display: block;
}

.front-page {
  .video-background {
    @include modular-mq(desktop) {
      display: block;
      position: relative;
    }
  }

  .image-background {
    @include bg_img('header_img_mobile.jpg');
    height: 700px;

    @include modular-mq(desktop) {
      display: none;
    }
  }

  .page-title {
    display: none;
  }

  .site-title, .site-description {
    display: block;
  }
}

.site-title, .site-description {
  display: none;
}

.image-background {
  @include bg_img('section_header_mobile.jpg');
  position: relative;
  background-size: cover;
  width: 100%;
  height: 200px;

  @include modular-mq(desktop) {
    @include bg_img('section_header_desktop.jpeg');
    height: $header-image-height;
  }
}

.title-description-wrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}

.site-title {
  font-size: 3.5em;
  margin-bottom: 0.5em;

  @include modular-mq(desktop) {
    font-size: 6em;
    margin-bottom: 0;
  }
}

.site-description {
  font-size: 1.5em;

  @include modular-mq(desktop) {
    font-size: 2.5em;
  }
}

.header-wrap {

  .site-title, .site-description, .page-title {
    font-family: 'Source Sans Pro', sans-serif;
    color: #e8e8e8;
    text-shadow: 0 0 6px #000;
  }

  .page-title {
    margin: 0 0.5em;
    font-size: 5em;

    &.long-page-title {
      font-size: 2.5em;
    }

    @include modular-mq(desktop){
      font-size: 6em;
    }
  }
}

