.menu-center{
  width: 100%;
  text-align: center;
}

.mobile-nav-toggle {
  background-color: #557963;
  padding: 3px 0;
}

.navicon{
  display: block;
  padding: 0 6px;

  .bar {
    width: 30px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
}

.menu-close{
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 3rem;
}

.navbar{
  margin-bottom: 0;
  font-weight: 100;
  letter-spacing: 1px;
  min-height: initial;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border: none;


  @include modular-mq(desktop) {
    position: absolute;
    right: 0;
  }
}

.main-menu-container{
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #447b6d;
  width: 100%;
  z-index: 1000;
  left: -100%;
  transition: left 0.40s;
  transition-timing-function: linear;

  @at-root {
    .open & {
      left: 0;
    }
  }

  @include modular-mq(tablet){
    position: relative;
    left: initial;
    padding: 0;
    margin: 0 auto !important; // override .navbar-collapse from bootstrap
    width: 100%;
  }

  @include modular-mq(desktop){
    width: 100%;
  }
}

.main-menu {
  position: absolute;
  top: 15%;
  width: 100%;

  li.menu-item {
    text-align: center;
    margin-bottom: 8px;

    a {
      position: relative;
      bottom: -5px;
      opacity: 0;
      font-size: 2em;
      font-weight: 300;
      color: #a2d2a9;
      transition: all 0.40s;
      transition-delay: 0.45s;

      @at-root {
        .open & {
          opacity: 1;
          bottom: 0;
        }
      }
    }
  }
}


// shift language menu to right
.lang .dropdown-menu{
  right: 0;
  left: initial;
}

// css adjustments for language

.nav>li>a {

  @include modular-mq(tablet){
    .de & {
      padding: 20px 4px;
    }

    .en & {
      padding: 20px 9px;
    }

    .cz & {
      padding: 20px 11px;
    }
  }

  @include modular-mq(tablet, landscape){
    .de & {
      padding: 20px 12px;
    }

    .en & {
      padding: 20px 18px;
    }

    .cz & {
      padding: 20px 20px;
    }
  }

}

//=============================

