.menu-center{
  width: 100%;
  text-align: center;
}

.navbar{
  margin-bottom: 0;
  font-weight: 100;
  letter-spacing: 1px;
  min-height: initial;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  @include border-radius(0px);

  li.menu-item{

    &.lang .dropdown-menu{
      padding: 0;
      border-radius: 0;
      box-shadow: 0;
      -webkit-box-shadow: 0;
      background-color: #789e79;
    }

    .qtranxs-lang-menu-item{
      float: left;
      width: 33%;
      text-align: center;

      a{
        font-size: 0;
        padding: 0;
        display: inline;
      }
    }


    a {
      font-size: 20px;
      padding-left: 30%;
      letter-spacing: 2px;

      @include modular-mq(tablet){
        font-size: 17px;
      }

      @include modular-mq(desktop) {
        font-size: 23px;
        line-height: 35px;
      }
    }
  }
}

.main-menu-container{

  &.navbar-collapse{
    margin: 0;
    border-bottom: 0;
  }
  width: 100%;
  z-index: 1000;

  @include modular-mq(tablet){
    position: relative;
    left: initial;
    padding: 0;
    margin: 0 auto !important; // override .navbar-collapse from bootstrap
    width: 100%;
  }

  @include modular-mq(desktop){
    width: 100%;
  }
}


.main-menu{
  &.navbar-nav{

    @include modular-mq(tablet){
      width: 730px;
      margin: 0 auto;
      float: initial;

      .de & {
        width: 750px;
      }
    }

    @include modular-mq(tablet, landscape){
      .de & {
        width: 860px;
      }
      width: 860px;
    }

    @include modular-mq(desktop){
      width: 1030px;
      float: none;

      .de & {
        width: 1100px;
      }
    }
  }

  background: $navbar-inverse-bg;
}

// shift language menu to right
.lang .dropdown-menu{
  right: 0;
  left: initial;
}

// css adjustments for language

.nav>li>a {

  @include modular-mq(tablet){
    .de & {
      padding: 20px 4px;
    }

    .en & {
      padding: 20px 9px;
    }

    .cz & {
      padding: 20px 11px;
    }
  }

  @include modular-mq(tablet, landscape){
    .de & {
      padding: 20px 12px;
    }

    .en & {
      padding: 20px 18px;
    }

    .cz & {
      padding: 20px 20px;
    }
  }

}

//=============================

