.menu-center{
  width: 100%;
  text-align: center;
}

.navicon{
  display: block;
  padding: 0 6px;

  .bar {
    width: 30px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
}

.menu-close{
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 3rem;
}

.navigation-bar{
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #00a699;
  margin-bottom: 0;
  font-weight: 100;
  letter-spacing: 1px;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: left, 0.35s;
  transition-timing-function: cubic-bezier(.2,.6,.58,.99);

  &.open {
    left: 0;
  }

  @include modular-mq(desktop) {
    background-color: transparent;
    height: auto;
    left: 0;
    transition: background-color, 0.25s;
    transition-timing-function: ease-out;

    &.scrolled {
      background-color: #00a699;
      -webkit-box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.47);
      -moz-box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.47);
      box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.47);
    }
  }
}

.menu-wrap {
  position: relative;
  top: 15%;
  width: 100%;

  @include modular-mq(desktop) {
    float: right;
    top: 0;
    width: auto;
  }
}

.main-menu {

  li.menu-item {
    position: relative;
    bottom: -5px;
    opacity: 0;
    text-align: center;
    transition: bottom, 0.40s, opacity, 0.40s;
    transition-delay: 0.45s;

    @at-root {
      .open & {
        opacity: 1;
        bottom: 0;
      }
    }

    @include modular-mq(desktop) {
      float: left;
      margin-left: 1em;
      opacity: 1;
      bottom: 0;
      padding: 1em;
    }

    a {
      font-size: 2em;
      font-weight: 300;
      color: #a2d2a9;

      @include modular-mq(desktop) {
        text-decoration: none;
      }
    }
  }
}


// shift language menu to right
.lang .dropdown-menu{
  right: 0;
  left: initial;
}

// css adjustments for language

.nav>li>a {

  @include modular-mq(tablet){
    .de & {
      padding: 20px 4px;
    }

    .en & {
      padding: 20px 9px;
    }

    .cz & {
      padding: 20px 11px;
    }
  }

  @include modular-mq(tablet, landscape){
    .de & {
      padding: 20px 12px;
    }

    .en & {
      padding: 20px 18px;
    }

    .cz & {
      padding: 20px 20px;
    }
  }

}

//=============================

