.site-content{
  position: relative;
  opacity: 0;

  -webkit-transition: opacity 0.5s linear 1s, top 0.5s linear 1s;
  -moz-transition: opacity 0.5s linear 1s, top 0.5s linear 1s;
  -ms-transition: opacity 0.5s linear 1s, top 0.5s linear 1s;
  -o-transition: opacity 0.5s linear 1s, top 0.5s linear 1s;
  transition: opacity 0.5s linear 1s, top 0.5s linear 1s;

  &--show{
    top: 0;

    opacity: 100;
  }

  @include modular-mq(tablet){
    -webkit-transition: opacity 0.5s linear 1s, top 0.5s linear 1s;
    -moz-transition: opacity 0.5s linear 1s, top 0.5s linear 1s;
    -ms-transition: opacity 0.5s linear 1s, top 0.5s linear 1s;
    -o-transition: opacity 0.5s linear 1s, top 0.5s linear 1s;
    transition: opacity 0.5s linear 1s, top 0.5s linear 1s;

  }

}