
@include modular-mq(tablet){
  .container{
    width: 100%;

  }
}

.site-content{

  font-size: 17px;
  font-weight: 100;

  position: relative;
  top: 20px;
  opacity: 0;

  -webkit-transition: opacity 0.5s linear 1s, top 0.5s linear 1s;
  -moz-transition: opacity 0.5s linear 1s, top 0.5s linear 1s;
  -ms-transition: opacity 0.5s linear 1s, top 0.5s linear 1s;
  -o-transition: opacity 0.5s linear 1s, top 0.5s linear 1s;
  transition: opacity 0.5s linear 1s, top 0.5s linear 1s;

  &.home-page{
    padding: 0;
  }

  &--show{
    top: 0;
    opacity: 100;
  }

  @include modular-mq(tablet){
    font-size: 21px;
    letter-spacing: 1px;

    -webkit-transition: opacity 0.5s linear 1s, top 0.5s linear 1s;
    -moz-transition: opacity 0.5s linear 1s, top 0.5s linear 1s;
    -ms-transition: opacity 0.5s linear 1s, top 0.5s linear 1s;
    -o-transition: opacity 0.5s linear 1s, top 0.5s linear 1s;
    transition: opacity 0.5s linear 1s, top 0.5s linear 1s;

  }

  @include modular-mq(desktop){
    width: 95%;
    font-size: 24px;
    margin: 0 auto;
    padding: 50px 0;

    &.home-page{
      padding: 100px 0;
    }
  }
}

.profile-post, .service-content{
  .featured-images__image{

    &.image-2{
      margin-right: 0;
    }

    &.last{
      margin-right: 0;
    }

  }
}