.box-shadow{
  -webkit-box-shadow: 0px 0px 14px 2px rgba(49,56,49,1);
  -moz-box-shadow: 0px 0px 14px 2px rgba(49,56,49,1);
  box-shadow: 0px 0px 14px 2px rgba(49,56,49,1);
}

.image-border{
  border-style: solid;
  border-color: rgba(212, 224, 219, 0.69);
}

.title-bottom-border{
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

.hide-slider {
  height: 0 !important;
  overflow: hidden;
}


.title {
  font-family: 'Source Sans Pro', sans-serif;
  color: #e8e8e8;
}

.section-title {
  @extend .title;
  text-shadow: 0 0 6px #000;
}

.vert-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.h-center {
  text-align: center;
}