<section class="services-container">
    {% for service_id, service in services %}
        <div class="service">
            <img src="{{ service.image_src }}" class="service__image">
            <a class="service__link" href="{{ service.url }}">
                <h2 class="service__title">{{ service.title }}</h2>
            </a>
            <div class="service__content">{{ service.content }}</div>
        </div>
    {% endfor %}
</section>