<section class="services-container">
    {% for service_id, service in services %}
        <div class="service">
            <img src="{{ service.featured_image.url }}" class="service__image">
            <a class="service__link service__title" href="{{ service.url }}">
                {{ service.title }}
            </a>
            <div class="service__content">{{ service.content }}</div>
        </div>
    {% endfor %}
</section>