<div id="slider-modal-wrap" class="hide-slider slider-modal-wrap" data-get-attachment-images="get_gallery_attachments_images">
    <div id="close-modal">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </div>
    <img class="loader" src="{{ spinner }}"/>
    <div class="slider-wrap invisible">
        <ul class="bx-slider"></ul>
        <div class="slider-wrap__controls">
            <div id="prev-slide" class="control">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </div>
            <div id="next-slide" class="control">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </div>
        </div>
    </div>
</div>