<div id="contact-page" class="content-area contact-page">
    <div id="content" class="gallery-image-container site-content container" role="main">
        <h1 class="page-title">{{ post.title }}</h1>
        {{ post.content }}
    </div><!-- #content -->
</div><!-- #primary -->
{{ include('partials/slider_modal.twig') }}