<div class="post-content gallery-content">
    <div id="content" class="gallery-image-container" role="main">
        {{ post.content }}
    </div><!-- #content -->
</div><!-- #primary -->
{{ include('partials/slider_modal.twig') }}