<div id="contact-page" class="content-area contact-page">
    <div id="content" class="gallery-image-container site-content container" role="main">
        {{ post.content }}
    </div><!-- #content -->
</div><!-- #primary -->
{{ include('partials/slider_modal.twig') }}