<section id="home-page" class="content-area">
    <div id="content" class="site-content" role="main">
        <div class="highlights-wrap">
            <div class="highlights">
                <div class="item">
                    <div class="icon">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </div>
                    <p>Profesionální přístup</p>
                </div>
                <div class="item">
                    <div class="icon">
                        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
                    </div>
                    <p>5 let zkušeností a praxe</p>
                </div>
                <div class="item">
                    <div class="icon">
                        <span class="glyphicon glyphicon-compressed" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </div>
                    <p>Kvalitní vybavení</p>
                </div>
                <div class="item">
                    <div class="icon">
                        <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    </div>
                    <p>Odpovědnost za škodu</p>
                </div>
            </div>
        </div>
    </div><!-- #content -->
</section><!-- #primary -->

