<section id="home-page" class="content-area">
    <div id="content" class="site-content" role="main">
        <div class="highlights-wrap">
            <div class="highlights">
                <div class="item">
                    <div class="icon">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </div>
                    <p>Profesionální přístup</p>
                </div>
                <div class="item">
                    <div class="icon">
                        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
                    </div>
                    <p>5 let zkušeností a praxe</p>
                </div>
                <div class="item">
                    <div class="icon">
                        <span class="glyphicon glyphicon-compressed" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </div>
                    <p>Kvalitní vybavení</p>
                </div>
                <div class="item">
                    <div class="icon">
                        <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    </div>
                    <p>Odpovědnost za škodu</p>
                </div>
            </div>
        </div>
        <div class="section-img-divider" >
            <h1 class="section-title section-title vert-center h-center">Naše Služby</h1>
        </div>
        <section class="front-page-services">
            {% for service_id, service in services %}
                <div class="front-page-service">
                    <a class="front-page-service__link" href="{{ service.link }}" >
                        {{ service.image }}
                        <h2 class="front-page-service__title">{{ service.title }}</h2>
                    </a>
                </div>
            {% endfor %}
        </section>
    </div><!-- #content -->
</section><!-- #primary -->

