<div id="profile-page" class="content-area profile-page">
    <div id="content" class="site-content container" role="main">
        {% for reference in references %}
            <div class="reference {% if loop.last %}last{% endif %}">
                <div class="client-info clearfix">
                    <div class="name float-left">{{ reference.client_name }}</div>
                    <div class="contact float-right">{{ reference.client_contact }}</div>
                </div>
                <div class="text">{{ reference.text_reference }}</div>
            </div>
        {% endfor %}
    </div><!-- #content -->
</div><!-- #primary -->