<div id="service-page" class="content-area service-page">
    <section id="services">
        <div class="services">
            {% for service_id, service in services %}
                <div class="service">
                    {{ service.image }}
                    <h2 class="service_title">{{ service.title }}</h2>
                    <div class="service__content">{{ service.content }}</div>
                </div>
            {% endfor %}
        </div>
    </section>
</div><!-- #primary -->
{{ include('partials/slider_modal.twig') }}