<div id="service-page" class="content-area service-page">
    {% include('partials/services.twig') with { 'services' : services } %}
</div><!-- #primary -->
{{ include('partials/slider_modal.twig') }}