<div class="description post-content" >{{ service.content }}</div>
{% include('partials/featured_images.twig') with { 'featured_images' : service.featured_images } %}
{% include('partials/slider_modal.twig') %}
