.contact-content {
  text-align: center;
  h2 {
    margin-bottom: 0.5em;
  }

  margin-bottom: 2em;
}

.contact-image {
  @extend .feature-image__image;
  width: auto;
  margin: 0 auto 1em auto;

  @include modular-mq(desktop) {
    margin-bottom: 2em;
  }
}

.mail-phone {
  font-size: 1.2em;
  margin-bottom: 1em;
}

#g-map{
  width: 100%;

  @include modify-property-by-device(height, 300px 400px 500px);
}



