
.foogallery-album-header {

  a {
    background-color: #253F1D;
    width: 85px;
    padding: 5px 10px;
    margin-bottom: 20px;
    color: #98B692;
    display: block;

    @include modular-mq(tablet){
      width: 150px;
      font-size: 36px;
      margin-left: 34px;
    }
  }

  h2{
    display: none;
  }

  .glyphicon {
    display: block;
    float: left;
    margin-top: 3px;

    @include modular-mq(tablet){
      margin-top: 8px;
    }

    @include modular-mq(desktop){
      margin-top: 10px;
      font-size: 30px;
    }
  }
}

.foogallery-container{

  img{
    @include square-dim(100%);
  }

}

.foogallery-pile-inner{
  h3 {
    display: none !important;
  }
}

.foogallery-album-gallery-list {
  .foogallery-pile {
    z-index: 0 !important;

    img{
      @include square-dim(100%);
    }
  }
}