
.foogallery-album-header {

  p{
    text-align: center;
    margin-bottom: 75px;
  }

  a {
    position: relative;
    background-color: #253F1D;
    padding: 8px 10px;
    color: #98B692;

    @include modular-mq(tablet){
      font-size: 21px;
    }
  }

  h2{
    display: none;
  }

  .glyphicon {
    position: relative;
    top: 3px;

    @include modular-mq(desktop){
      font-size: 20px;
      top: 2px;
    }
  }
}

.foogallery-container{

  img{
    @include square-dim(100%);
  }

}

.foogallery-pile-inner{
  h3 {
    display: none !important;
  }
}

.foogallery-album-gallery-list {
  .foogallery-pile {
    z-index: 0 !important;

    img{
      @include square-dim(100%);
    }
  }
}

.full-opacity{
  @include opacity(1);
}

.foogallery-default.border-style-square-white a{
  border-width: 2px !important;
}