// styles for home page

#home-page{

  // override bootstrap next, prev button in carousel
  .carousel-control{
    height: 82%;
    background-image: none;

    @include modular-mq(tablet){
      height: 86%;
    }

    @include modular-mq(desktop){
      height: 89%;
    }
  }
}

.carousel{

  @extend .shadow-box;

}

.item {

  @include modular-mq(desktop) {
    height: 500px;
  }

  img{
    @include square-dim(100%);
    height: 100% !important;
  }

}

.bottom-title {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(223, 230, 221, 0.66);
  padding: 6px 10px;
  text-align: left;
  //z-index: 1000;

  @include modular-mq(tablet){
    padding: 10px 10px
  }

  .mobile &.long-title {
    h1 {
      width: 90%;
    }
  }

  h1 {
    color: $color-primary-4;
    font-weight: 400;
    font-size: 20px;
    float: left;

    @include modular-mq(tablet) {
      font-size: 30px;
    }
  }
}


.more-info{
  font-size: 0;
  font-weight: 200;
  color: $color-primary-4;
  float: right;

  &__text{
    display: none;

    @include modular-mq(tablet){
      display: block;
      float: left;
      font-size: 25px;
    }
  }

  .cz.mobile .long-title &{
    margin-top: 10px;
  }

  .glyphicon{
    font-size: 21px;

    @include modular-mq(tablet){
      font-size: 30px;
    }
  }
}

//p{
//  margin: 0;
//  float: left;
//}

.home-page-post{

  @extend .shadow-box;

  ul{
    list-style-type: none;
    margin: 0 auto;
    font-size: 15px;
    padding: 25px 10px 10px 10px;
    background-color: #ECF7F5;
    font-family: HelveticaNeue-Light, Arial, sans-serif;

    li{
      margin-bottom: 10px;

      p{
        margin-left: 25px;

        @include modular-mq(tablet){
          margin-left: 40px;
        }
      }
    }

    @include modular-mq(tablet){
      font-size: 25px;
      padding: 40px 25px 20px 25px;
    }

    @include modular-mq(desktop){
      margin-top: 70px;
      font-size: 31px;
      padding: 20px;
    }
  }


  .glyphicon{

    font-size: 17px;
    float: left;
    display: block;
    margin-top: 3px;

    @include modular-mq(tablet){
      font-size: 25px;
    }

    @include modular-mq(desktop){
      font-size: 25px;
      margin: 8px 16px 0 0;
    }

  }
}

