#home-page {
  font-family: 'Source Sans Pro', sans-serif;

  .glyphicon {
    font-size: 3em;
    text-shadow: 0 0 4px #64a99d;
  }

  .glyphicon-education {
    @include translate(8px, 0px);
  }

  .glyphicon-grain {
    @include translate(-13px, -7px);
  }

  .glyphicon-cog {
    @include translate(-14px, 0px);
  }

  .glyphicon-compressed {
    @include translate(1px, 1px);
    font-size: 2.5em;
  }

  .glyphicon-tree-deciduous {
    @include rotate(5deg)
  }

  .glyphicon-home {
    @include translate(-18px, 1px);
    font-size: 1.7em;
  }
}

.highlights {
  display: flex;
  flex-flow: wrap;
  margin-top: 4em;
  color: #0c481d;

  @include modular-mq(desktop) {
    width: $front-page-section-content-width;
    flex-flow: nowrap;
    margin: 8em auto;
  }

  .item {
    text-align: center;
    width: 100%;
    margin-bottom: 4em;

    @include modular-mq(desktop) {
      margin-bottom: 0;
    }
  }

  p {
    margin: 0;
    font-size: 1.8em;
  }
}

.section-img-divider {
  @include bg_img('front_page_services_title_mobile.jpg');
  height: 200px;

  @include modular-mq(desktop) {
    @include bg_img('front_page_services_title.jpg');
    width: 100%;
    height: 500px;

    h1 {
      font-size: 4em;
    }
  }
}

.front-page-services{
  display: flex;
  flex-flow: wrap;
  margin-top: 4em;

  @include modular-mq(desktop) {
    width: $front-page-section-content-width;
    flex-flow: nowrap;
    margin: 8em auto;
  }
}

.front-page-service {
  text-align: center;
  width: 100%;
  margin-bottom: 4em;

  @include modular-mq(desktop) {
    margin-bottom: 0;
  }

  img {
    border-radius: 50%;
    box-shadow: 0 0 10px black;
    margin-bottom: 1.5em;
  }

  &__title {
    @extend .title;
    color: #0c481d;
    font-weight: 100;
  }

  &__link {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}