
.profile-post{

  text-align: justify;

  .profile-photo{

    display: block;
    width: 235px;
    margin: 0 auto;
    margin-bottom: 10px;

    @include modular-mq(tablet){
      display: block;
      margin-right: 20px;
      //@include square-dim(50%);
    }

    @include modular-mq(tablet, landscape){
      //@include square-dim(25%);
    }

    @include modular-mq(desktop){
      margin-right: 20px;
      margin-bottom: 0;
    }

    &-left {
      display: block;
      margin: 10px auto;

      @include modular-mq(tablet){
        margin: 10px 0 0 20px
      }
    }
  }

  .featured-images{

    @include modular-mq(tablet){
      margin-top: 100px;
    }

    @include modular-mq(desktop){
      margin-top: 215px;
    }


    &__image{

      @include modular-mq(tablet){
        margin-right: 10px;
      }

      @include modular-mq(desktop){
        margin-right: 17px;
        &.image-2{
          margin-right: 17px;
        }
      }

      img{
        @include square-dim(100%);
      }

    }
  }

}



#profile-carousel{

  display: none;
  @extend .image-border;

  @include modular-mq(desktop){
    border-width: 10px;
    width: 700px;
    margin: 0 auto;

  }

}

.certificates{

  display: none;

  @include modular-mq(desktop){
    margin-top: 50px;
    display: block;
  }

  h1{
    border-bottom: 1px solid;
  }

  &__list{

    @include modular-mq(desktop){
      margin-top: 50px;
    }


    &--single{
      display: inline-block;
      width: 25%;
      margin-right: 11.5%;

      &:last-child{
        margin-right: 0;
      }





      img{
        @include square-dim(100%);

        @include transition(all 0.5s ease-in-out);

        &:hover{
          @include transform(scale(1.1))
        }
      }

      h3{
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }
}