#service-page {

  .services {
    margin-top: 2em;
  }

}

.service {
  &.active &__title {
    display: none;
  }

  &.active &__image {
    display: none;
  }

  &.inactive {
    display: none;
  }
}
