.reference{
  margin-bottom: 20px;

  @include modular-mq(tablet){
    margin-bottom: 30px;
  }

  @include modular-mq(desktop){
    margin-bottom: 40px;
  }

  &.last{
    margin-bottom: 0;
  }

  .client-info{
    @include clearfix;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 19px;
    border-bottom: 1px solid;

    @include modular-mq(tablet){
      font-size: 26px;
    }

  }

  .name{
    float: left;
  }

  .contact{
    float: right;
  }

  .text{
    text-align: justify;
  }
}