// Service list item on home page

.service-list-container {
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(stretch);

  width: 100%;

}

.service-item{

  @include flex(1);
  @include border-radius(4px);

  margin-bottom: 1.5rem;
  margin-right: 15px;

  &:last-child{
    margin-right: 0;
  }


  img {
    width: 100%;
    height: 37%;
    @include border-top-radius(4px);
  }


  &__content{
    font-size: 1.8rem;
    padding: 0.8rem;
    padding-top: 1rem;
    position: relative;
    text-align: justify;
  }

  &__title{
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }

  &__text {
    margin-bottom: 2rem;
  }
}